.navbar {
  /* // backgroundImage: "linear-gradient(to right, #1695ce, #7e3896)"; */
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.active {
  background: #1695ce !important;
}
